// Imports from NPM

@import '~purecss/build/pure-min.css';
@import '~purecss/build/grids-responsive-min.css';
@import '~font-awesome/css/font-awesome.min.css';


// Local imports

@import './colors.scss';
@import './fonts.scss';


// Index

body {
  background-color: $white;
  color: $black;
  // required for cart (slideout)
  height: 100%;
  width: 100%;

  @media screen and (min-height: 950px) {
    position: absolute;
  }
}

html,
button,
input,
select,
textarea,
.pure-g [class *= "pure-u"] {
  font-family: 'Work Sans', sans-serif;
}


// Header

.header {
  height: 75px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 10;

  .title {
    background-color: $dark-blue;
    height: 100%;
  }

  p {
    color: $white;
    font-family: 'Pacifico', cursive;
    font-size: 1.8em;
    margin: 0;
    padding-top: 5px;
  }

  .cart {
    background-color: $black;
    color: $white;
    cursor: pointer;
    height: 100%;

    i {
      padding-top: 10px;
    }
  }

  .cart-qty {
    font-size: 30px;
    font-weight: bold;
    padding-top: 15px;
    text-align: right;
  }
}

@media screen and (min-width: 370px) {
  .header p {
    font-size: 2.1em;
  }
}

// Item List

.item-list {
  margin: auto;
  max-width: 1100px;
  padding-top: 85px;
  position: relative;
}

.item-unit {
  max-height: 410px;
  overflow: hidden;
  padding-bottom: 20px;
  padding-top: 10px;
  position: relative;
  text-align: center;

  .item-background {
    background-color: $iron;
    border-radius: 25px;
    margin: auto;
    max-width: 90%;
    padding: 5px 0;
    position: relative;
  }

  .item-image {
    border: 1px solid $iron;
    border-radius: 20px;
    margin: auto;
    max-height: 300px;
    max-width: 70%;
  }

  legend {
    text-align: center;
  }

  .center-input {
    margin: auto;
    width: 70%;

    input {
      text-align: center;
    }
  }

  .submit-button {
    background-color: transparent;
    border: 0;
    color: $icon;
    position: absolute;
    right: 15px;
    top: 10px;
  }
}


// Footer

.footer {

  .logo {
    margin: auto;
    width: 290px;
  }
}


// Cart (slideout)

.slideout-menu {
  background-color: $iron;
  bottom: 0;
  display: none;
  left: auto;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  padding-top: 90px;
  position: fixed;
  right: 0;
  top: 0;
  width: 320px;
  z-index: 0;

  i {
    cursor: pointer;
    left: 10px;
    position: absolute;
    top: 85px;
  }

  .remove-note {
    font-size: 12px;
    font-style: italic;
    padding-bottom: 15px;
    text-align: center;
  }

  .cart-checkout {
    margin-top: 20px;
    text-align: center;
  }
}

.pure-table {
  max-width: 98%;
  margin: auto;

  thead {
    background-color: $silver-sand;
  }

  th,
  td {
    text-align: center;
  }
}

.slideout-panel {
  background-color: $white;
  height: 100%;
  position: relative;
  z-index: 1;

  @media screen and (min-height: 950px) {
    position: absolute;
    width: 100%;
  }
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

@media screen and (min-width: 360px) {
  .slideout-menu {
    width: 360px;
  }
}


// Modals

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 90;
  background-color: rgba(0,0,0,0.7);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -160px;
  margin-top: -265px;
  background-color: $white;
  border-radius: 5px;
  height: 500px;
  width: 320px;
  padding: 15px 0;
  overflow-y: auto;
}

@media screen and (min-width: 370px) {
  .modal {
    width: 370px;
    margin-left: -190px;
    padding: 15px 5px;
  }
}


// Checkout

.notice {
  h4 {
    margin: 0;
    padding: 5px;
    text-align: center;
  }

  ul {
    margin: 0;
    padding-bottom: 7px;
  }
}

.checkout-form {
  text-align: center;

  fieldset {
    padding: 0;
  }

  input {
    width: 100%;
  }

  .button-error {
    margin: .7em 1em 0;
  }

  .button-blue {
    margin: .7em 0 0;
  }
}


// Notifications
.alerts {
  position: fixed;
  bottom: 10px;
  right:10px;
  z-index: 100;
}

.alert {
  position: relative;;
  background-color: $error;
  color: $white;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px $silver-sand;
  padding: 15px;
  margin-bottom: 15px;
  opacity: 0;
  transition: opacity 0.5s linear;

  h4 {
    margin: 0;
  }
}


// Buttons

.button-success,
.button-error,
.button-blue {
  border-radius: 4px;
  color: $white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.button-success {
  background-color: $success;
}

.button-error {
  background-color: $error;
}

.button-blue {
  background-color: $dark-blue;
}


// Utilities

.center {
  text-align: center;
}
